.bg-transparent-5 {
    background-color: rgba(0, 0, 0, .5);
}

.shdw {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url(../img/login.png);
}

.card-login {
    background-color: rgba(0, 0, 0, .7);
}